<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <setting name="cacheEnabled" value="false"/>
        <setting name="localCacheScope" value="STATEMENT"/>
    </settings>

    <typeAliases>
        <!--bean-->
        <typeAlias alias="PerformData" type="top.huzhurong.monitor.mybatis.bean.PerformData"/>
    </typeAliases>

    <plugins>
        <plugin interceptor="top.huzhurong.monitor.mybatis.plugin.Apc">
        </plugin>
    </plugins>

    <mappers>
        <mapper resource="mapper/perform_data.xml"/>
    </mappers>
</configuration>